<div class="page-sidebar">

    <ul class="list-unstyled accordion-menu">
        <li class="sidebar-title">
            Bosh qism
        </li>
        <li {{#if isHome}}class="active-page"{{/if}}>
            <a href="/"><i data-feather="home"></i>Bosh sahifa</a>
        </li>
        <li {{#if isUsers}}class="active-page"{{/if}}>
            <a href="/users"><i data-feather="users"></i>Foydalanuvchilar</a>
        </li>
        <li {{#if isCategory}}class="active-page"{{/if}}>
            <a href="/category"><i data-feather="grid"></i>Bo'limlar</a>
        </li>
        <li {{#if isNews}}class="active-page"{{/if}}>
            <a href="/news"><i data-feather="list"></i>Yangiliklar</a>
        </li>
        <li {{#if isService}}class="active-page"{{/if}}>
            <a href="/service"><i data-feather="calendar"></i>Xizmatlar</a>
        </li>
        <li {{#if isProjects}}class="active-page"{{/if}}>
            <a href="/projects"><i data-feather="briefcase"></i>Loyihalar</a>
        </li>
        <li {{#if isFaq}}class="active-page"{{/if}}>
            <a href="/faq"><i data-feather="message-circle"></i>Savol-javob</a>
        </li>
        <li {{#if isSettings}}class="active-page"{{/if}}>
            <a href="/settings"><i data-feather="settings"></i>Sozlamalar</a>
        </li>     
    </ul>
</div>