<div class="page-sidebar">
     <ul class="list-unstyled accordion-menu">
        <li class="sidebar-title">
            Bosh qism
        </li>
        <li {{#if isHome}}class="active-page"{{/if}}>
            <a href="/"><i data-feather="home"></i>Bosh sahifa</a>
        </li>
        <li {{#if isMessage}}class="active-page"{{/if}}>
            <a href="/message"><i data-feather="message-square"></i>Habarlar</a>
        </li>
        {{!-- <li {{#if isHome}}class="active-page"{{/if}}>
            <a href="/"><i data-feather="home"></i>Bosh sahifa</a>
        </li> --}}
    </ul>
</div>